doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")    
    title= title
    //css files
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/small.css')
    link(rel='stylesheet', href='/stylesheets/wide.css')
    link(rel="stylesheet", href="bootstrap.min.css")
    link(rel="stylesheet", href="bootstrap-grid.min.css")
    //icons
    link(rel="stylesheet", href="all.css")
    //deferred js files
    script(src="jquery.min.js")
  body
    block content

    script(src="jquery.min.js")
    script(src="bootstrap.min.js")
    script(src="javascripts/index.js") 